@font-face {
    font-family: 'Rowdies';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('fonts/Rowdies-Regular.ttf');
  }
  @font-face {
    font-family: 'Rowdies-Light';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('fonts/Rowdies-Light.ttf');
  }
  p{
    font-family: 'Rowdies-Light';
  }
.startScreen{
    width: 1000px;
    height: 600px;
    background-color: #cb942dfd;
    margin: auto;
    top: 100px;
    border-style:groove;
    padding: 10px;
}
.startButton{
    border-style: solid;
    border-color: black;
    font-family: 'Rowdies';
    width: 100px;
    height: 40px;
    border-radius: 5px;
    height: 100px;
    width: 200px;
    background-color:#473509;
    color: white;
    font-size: 30px;
  
}
.startButton:hover{
    background-color:green;

}
.keyButton{
    border-style:solid;
    font-family: "Rowdies-Light";
    color: white;
    border-color:black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
    padding: 10px 15px;
    display: inline-block;
    background-color: #473509;
}
.wrapperHidden {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    display: none;
}
.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
}

.conveyorBelt {
    display: flex;
    position: relative;
    gap: 0;
    height: 120px;
    width: 100%;
}

.beltRolls {
    flex: 1;
    background-color: brown;
    height: 120px;
    border-radius: 10px;
    width: 30px;
    border-style: outset;
    border-color: black;

}

/* .containers {
    display: flex;
    position: absolute;
    bottom: 100px;
    gap: 40px;

} */
.bin1 {
    position: absolute;
    width: 200px;
    height: 100px;
    z-index: 20;
}
.bin2 {
    position: absolute;
    width: 250px;
    height: 140px;
    z-index: 20;
}

.bin3 {
    position: absolute;
    width: 200px;
    height: 170px;
    z-index: 20;
}

.bin4 {
    position: absolute;
    width: 130px;
    height: 150px; 
    z-index: 20;   
}

.player {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 70px;
    height: 70px;

}

.playerHead {
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: black;
    left: 25px;

}

.playerBody {
    position: absolute;
    top: 70px;
    width: 120px;
    left: 25px;

}

.spine {
    position: absolute;
    left: 25px;
    background-color: black;
    width: 20px;
    height: 50px;
}

.leftHand {
    position: absolute;
    width: 0;
    height: 0;
    top: 12.5px;
    border-top: 10px solid transparent;
    border-right: 50px solid black;
    border-bottom: 10px solid transparent;
    left: -25px;
}

.rightHand {
    position: absolute;
    width: 0;
    height: 0;
    top: 12.5px;
    right: 25px;
    border-top: 10px solid transparent;
    border-left: 50px solid black;
    border-bottom: 10px solid transparent;

}

.item1 {
    position: absolute;
    width: 40px;
    height: 40px;

}

.item2 {
    position: absolute;
    transform: rotate(20deg);
    width: 40px;
    height: 40px;
}

.item3 {
    position: absolute;
    width: 40px;
    height: 40px;
}

.item4 {
    position: absolute;
    width: 40px;
    height: 40px;
}
.item5{
    position: absolute;
    width: 40px;
    height: 40px;

}
.item6{
    position: absolute;
    width: 40px;
    height: 40px;
}
.timer {
    border-style: solid;
    height: 4px;
    border-color: black;
    background-color:black;
    width: 120px;

}
.timer-timeElapsed{
    background-color: orange;
    width: 120px;
    height: 2px;

}

.score{
    position: absolute;
    left: 400px;
    top: 100px;
    width: 400px;
    height: 150px;
    background-color: orange;
    border-style: solid;
    border-color: white;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.currentScore{
    position: absolute;
    left: 20px;
    top: 5px;
    
}