p{
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: forestgreen;
}
h1{
   color: darkolivegreen;
   
}
h2{
   color: forestgreen;
}

.aboutme{
   display:flex;
   justify-content: space-between;
}